html{
  padding: 0;
  margin:0;
}
.App{

    background-color:#b3bebe60;

}


/*header styling */
.top{
  margin: 0 auto;
  max-width: 1500px;
  text-align: center;
  /* ^ display in center of a screen*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}

.top h1 {
  margin-right: 10px;
  margin-top: 7px;
}

/*form styling*/
.fillarea{
  margin: 0 auto;
  max-width: 1500px;
  text-align: center;
  /* ^ display in center of a screen*/
  display: flex;
  flex-direction: column;
}

.fillarea form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fillarea input, textarea{
  margin-bottom: 15px;
  width: 75%;
  padding: 2px 10px;
  border: 2px solid black;
  border-radius: 20px;
}

/*button styling */

.fillarea>button{
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  height: 75px;
  width : 200px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #3e8e41;
  border: none;
  border-radius: 5005px;
  box-shadow: 0 9px #999;
  margin-bottom: 25px;
}
.fillarea>button:hover {
  background-color: #3e8e41;

}
.fillarea>button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.fillarea>button>i{
  color: white;
  margin-top: 5px;
  margin-left: 5px;
}


/*Chat history styling*/
.history{
  margin: 0 auto;
  max-width: 1200px;
   align-items: center;
}
.chatHistory {
  display: flex;
  flex-direction: column-reverse;
}
.chatHistory>li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid red;
}


/* chat messages */
.messagePart{
  display: flex;
  flex-direction: column;
}
.messagePart>.nickname{
  font-style: oblique;
  font-size: 15px;
}
.messagePart>.message{
  font-size: 20px;
}
.messagePart>.time{

}



/*picture styling*/
.nodepict{
  height: 75px;
  width: auto;
}
